<div class="container">

  <div class="d-flex justify-content-between">
    <div class="w-25">
      <ng-select [items]="categories"
                 (change)="onChangeCategory()"
                 [(ngModel)]="filter.category"
                 [clearable]="false">
      </ng-select>
    </div>

    <div class="w-25">
      <ng-select [items]="dropListCompanies"
                 bindLabel="name"
                 bindValue="name"
                 (change)="onChangeCategory()"
                 [(ngModel)]="filter.name"
                 [clearable]="false">
      </ng-select>
    </div>
  </div>

  <app-chart [companies]="companies" [selected]="selectedCompany" (onItemSelected)="selectedItem($event)"></app-chart>
</div>
